<div>
  <h1>Log in</h1>
  <div class="alert alert-danger" *ngIf="authenticationFailed">
    <p>Nope, try again.</p>
  </div>
  <form (ngSubmit)="authenticate()" #loginForm="ngForm">
    <div class="form-group">
      <label for="login">Login</label>
      <input id="login" class="form-control" name="login" [(ngModel)]="credentials.login" required #loginCtrl="ngModel" />
      <div *ngIf="loginCtrl.dirty && loginCtrl.hasError('required')">Login is required</div>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input
        id="password"
        class="form-control"
        type="password"
        name="password"
        [(ngModel)]="credentials.password"
        required
        #passwordCtrl="ngModel"
      />
      <div *ngIf="passwordCtrl.dirty && passwordCtrl.hasError('required')">Password is required</div>
    </div>
    <br />
    <button class="btn btn-primary" type="submit" [disabled]="loginForm.invalid">Register</button>
  </form>
</div>
