<form (ngSubmit)="register()" [formGroup]="userForm">
  <div>
    <div class="form-group">
      <label for="login" id="login-label">Login</label>
      <input id="login" type="text" class="form-control" formControlName="login" />
      <div id="login-warning" *ngIf="loginCtrl.dirty && loginCtrl.hasError('required')">Login is required</div>
      <div id="login-length-error" *ngIf="loginCtrl.dirty && loginCtrl.hasError('minLength')">
        Your login should be at least 3 characters
      </div>
    </div>

    <div formGroupName="passwordForm">
      <div class="form-group">
        <label for="password" id="password-label">Password</label>
        <input id="password" type="password" class="form-control" formControlName="password" />
        <div *ngIf="passwordCtrl.dirty && passwordCtrl.hasError('required')">Password is required</div>
      </div>
      <div class="form-group">
        <label for="password" id="password-confirm-label">Confirm password</label>
        <input id="password-confirm" type="password" class="form-control" formControlName="confirmPassword" />
        <div *ngIf="confirmPasswordCtrl.dirty && confirmPasswordCtrl.hasError('required')">Confirming password is required</div>
      </div>
      <div id="password-matching-error" *ngIf="passwordForm.dirty && passwordForm.hasError('matchingError')">
        Your password does not match
      </div>
    </div>

    <div>
      <div class="form-group">
        <label for="birthYear" id="birthYear-label">Birth year</label>
        <input id="birthYear" type="number" class="form-control" formControlName="birthYear" />
        <div *ngIf="birthYearCtrl.dirty && birthYearCtrl.hasError('required')">Birth year is required</div>
      </div>
      <div id="invalid-year-error" *ngIf="birthYearCtrl.dirty && birthYearCtrl.invalid">This is not a valid year</div>
    </div>

    <button type="submit" [disabled]="userForm.invalid">Let's go!</button>
  </div>
  <div id="registration-error" *ngIf="registrationFailed">Try again with another login.</div>
</form>
